@page "/"
@using MatBlazor
@using Services
@using Models
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Internetinė gėlių parduotuvė</h1>


<MatTabGroup>
    <MatTab Label="Katalogas">
        <br>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <p>
                    <MatTextField TValue="String" Label="Paieška" Icon="search" FullWidth="true"  IconTrailing="true" Outlined="true"></MatTextField>
                </p>
            </div>
            <div class="mat-layout-grid-inner">
                @foreach (var item in items)
                {
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1"/>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                            <MatCard class="demo-mat-card">
                                <MatCardContent>
                                <MatCardMedia Wide="true" ImageUrl=@item.Image></MatCardMedia>
                                    <div class="demo-mat-card-content">
                                        <MatHeadline6 class="demo-mat-card-clean-margin" Style="align-self">
                                            @item.Name
                                        </MatHeadline6>
                                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                                            Nuolaida - netaikoma, Kaina (vnt.): @item.Price €
                                        </MatSubtitle2>
                                    </div>
                                </MatCardContent>
                                <MatCardActions>
                                <MatButton @onclick='() => NavigateToIndividualItem(item.ID)'>Detaliau</MatButton>
                                </MatCardActions>
                            </MatCard>
                        </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1" />
                }
            </div>
        </div>
    </MatTab>
    <MatTab Label="Prisijungti">
        <br />
        <br />
        <p class="centerText">
            Naudotojo vardas
            <br />
            <MatTextField @bind-Value="@username" TValue="String" Outlined="true"></MatTextField>
            <br />
            <br />
            <br />
            Slaptažodis
            <br />
            <MatTextField @bind-Value="@password" TValue="String" Outlined="true"></MatTextField>
            <br />
            <br />
            <MatButtonLink Href="" @onclick="() => LogIn(username, password)" Unelevated="true">Prisijungti</MatButtonLink>
        <br/>
        <p style="color:firebrick">@prisijungimoBusena</p>
            <br />
            Neturite paskyros? Užsiregistruokite čią:
            <br />
            <br />
            <MatButtonLink Unelevated="true">Registracija</MatButtonLink>
        </p>
    </MatTab>
</MatTabGroup>

@code {
    List<Item> items = new List<Item>();

    APIController apiController;

    string username = new string("");
    string password = new string("");

    string prisijungimoBusena = new string("");

    List<Order> orders = new List<Order>();

    protected override async Task OnInitializedAsync()
    {
        apiController = new APIController();
        items = await apiController.GetAllItems();

        orders = await apiController.GetAllOrders();
    }

    public void NavigateToIndividualItem(int id)
    {
        NavigationManager.NavigateTo($"item/{id}");
    }

    public async void LogIn(string username, string password)
    {
        int id = await apiController.GetUserWithLogin(username, password);
        if(id != 0)
        {
            NavigationManager.NavigateTo($"MainPage/{id}", forceLoad: true);
        }
        else
        {
            prisijungimoBusena = "Neteisingai įvesti duomenys.";
        }
    }
}