@page "/seller/item/{Id:int}"
@using MatBlazor
@using Services
@using Models

<PageTitle>Index</PageTitle>

<h1>Internetinė gėlių parduotuvė</h1>


<MatTabGroup>
    <MatTab Label="Katalogas">
        <br>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl=@item.Image></MatCardMedia>
                        <MatTextField @bind-Value="@item.Image" Label="Nuoroda" Outlined="true"></MatTextField>
                        </MatCardContent>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-5">
                        <p class="inspectorActions">
                        <MatTextField @bind-Value="@item.Name" Label="Pavadinimas" Outlined="true"></MatTextField>
                        <br>
                        <br />
                    <p>Kaina: <MatTextField @bind-Value="@item.Price" Label="Kaina" Outlined="true"></MatTextField> €</p>
                        <br>
                        <p>Kiekis: <MatTextField @bind-Value="@item.Amount" TValue="int" Label="Likučių kiekis" Outlined="true"></MatTextField></p>
                        <br>
                            <MatButtonLink Outlined="true" Href="/MainPage" OnClick="() => UpdateItem()">Atnaujinti</MatButtonLink>
                    </p>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                        <p>Informacija:</p>
                        <br>
                    <p><MatTextField @bind-Value="@item.Description" Label="Aprašymas" FullWidth="true" Outlined="true"></MatTextField></p>
                    </div>
            </div>
        </div>
    </MatTab>

    <MatTab Label="Prisijungti">
        Second Content
    </MatTab>
</MatTabGroup>

@code {
    [Parameter]
    public int Id { get; set; }

    public Item item = new Item();

    APIController apiController;

    protected override async Task OnInitializedAsync()
    {
        apiController = new APIController();
        item = await apiController.GetItemById(Id);
    }

    private void UpdateItem()
    {
        apiController.UpdateItemById(Id, item);
    }
}