@page "/item/{Id:int}"
@using MatBlazor
@using Services
@using Models
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Internetinė gėlių parduotuvė</h1>


<MatTabGroup>
    <MatTab Label="Katalogas">
        <br>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <p>
                    <MatTextField TValue="String" Label="Paieška" Icon="search" FullWidth="true"  IconTrailing="true" Outlined="true"></MatTextField>
                </p>
            </div>
            <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl=@item.Image></MatCardMedia>
                        </MatCardContent>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-5">
                        <p class="inspectorActions">
                            <h1>@item.Name</h1>
                            <br>
                            <p>Kaina: @item.Price €</p>
                            <br>
                            <p>Kiekis: <MatTextField TValue="String" Label="1" Outlined="true"></MatTextField></p>
                            <br>
                                <MatButtonLink Disabled="true" Outlined="true">Į krepšelį</MatButtonLink>
                            <br>
                            <MatButtonLink Disabled="true"  Outlined="true">Į puokštę</MatButtonLink>
                        </p>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                        <p>Informacija:</p>
                        <br>
                        <p>@item.Description</p>
                    </div>
            </div>
        </div>
    </MatTab>

    <MatTab Label="Prisijungti">
        <br />
        <br />
        <p class="centerText">
            Naudotojo vardas
            <br />
            <MatTextField @bind-Value="@username" TValue="String" Outlined="true"></MatTextField>
            <br />
            <br />
            <br />
            Slaptažodis
            <br />
            <MatTextField @bind-Value="@password" TValue="String" Outlined="true"></MatTextField>
            <br />
            <br />
            <MatButtonLink Href="@path" @onclick="() => LogIn(username, password)" Unelevated="true">Prisijungti</MatButtonLink>
            <br />
        <p style="color:firebrick">@prisijungimoBusena</p>
        <br />
        Neturite paskyros? Užsiregistruokite čią:
        <br />
        <br />
        <MatButtonLink Unelevated="true">Registracija</MatButtonLink>
        </p>
    </MatTab>
</MatTabGroup>

@code {
    [Parameter]
    public int Id { get; set; }

    APIController apiController;

    string username = new string("");
    string password = new string("");

    string prisijungimoBusena = new string("");

    string path;

    public Item item = new Item();

    protected override async Task OnInitializedAsync()
    {
        apiController = new APIController();
        item = await apiController.GetItemById(0, Id);
        path = "/item/" + Id;
    }

    public async void LogIn(string username, string password)
    {
        Customer customer = await apiController.GetUserWithLogin(0, username, password);
        if (customer.Id != 0)
        {
            if (customer.Role == "seller")
            {
                NavigationManager.NavigateTo($"SellerMainPage/{customer.Id}", forceLoad: true);
            }
            else
            {
                NavigationManager.NavigateTo($"MainPage/{customer.Id}", forceLoad: true);
            }
        }
        else
        {
            prisijungimoBusena = "Neteisingai įvesti duomenys.";
            StateHasChanged();
        }
    }
}