@page "/MainPage/{Id:int}"
@using MatBlazor
@using Services
@using Models
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Internetinė gėlių parduotuvė</h1>


<MatTabGroup>
    <MatTab Label="Katalogas">
        <br>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <p>
                    <MatTextField TValue="String" Label="Paieška" Icon="search" FullWidth="true"  IconTrailing="true" Outlined="true"></MatTextField>
                </p>
            </div>
            <div class="mat-layout-grid-inner">
                @foreach (var item in items)
                {
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1"/>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                            <MatCard class="demo-mat-card">
                                <MatCardContent>
                                <MatCardMedia Wide="true" ImageUrl=@item.Image></MatCardMedia>
                                    <div class="demo-mat-card-content">
                                        <MatHeadline6 class="demo-mat-card-clean-margin" Style="align-self">
                                            @item.Name
                                        </MatHeadline6>
                                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                                            Nuolaida - netaikoma, Kaina (vnt.): @item.Price €
                                        </MatSubtitle2>
                                    </div>
                                </MatCardContent>
                                <MatCardActions>
                                <MatButton @onclick='() => NavigateToIndividualItem(item.ID)'>Detaliau</MatButton>
                                </MatCardActions>
                            </MatCard>
                        </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1" />
                }
            </div>
        </div>
    </MatTab>
    <MatTab Label="Krepšelis">
        @if (cartItems.Count > 0)
        {
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            @foreach (var item in cartItems)
                            {
                                <MatCard class="demo-mat-card">
                                    <MatCardContent>
                                        <div class="demo-mat-card-content">
                                            <p>@GetItemById(item.ItemId).Result.Name</p>
                                            <p>Kiekis: @item.Amount</p>
                                            <p>Kaina: @CalculatePrice(GetItemById(item.ItemId).Result.Price, @item.Amount) €      <MatButton Class="button" Outlined="true">Detaliau</MatButton></p>
                                        </div>
                                    </MatCardContent>
                                </MatCard>
                            }
                            <MatButton Class="button" @onclick='() => BuyCart()' Outlined="true">Pirkti</MatButton>
                        </MatCardContent>
                    </MatCard>
                </div>
            </div>
        }
    </MatTab>
    <MatTab Label="Istorija">
            <div class="mat-layout-grid-inner">
                 @foreach (var order in UpdateHistory().Result)
                    {
                    @if (order.CustomerId == Id)
                        {
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                            <MatCard class="demo-mat-card">
                                <MatCardContent>
                                    <div class="demo-mat-card-content">
                                        <p>Uzsakymo data: @order.OrderCreateDate</p>
                                        <p>@order.OrderStatus</p>
                                        <p>Kiekis: 1 <MatButton Disabled="true" Class="button" Outlined="true">Detaliau</MatButton></p>
                                    </div>
                                </MatCardContent>
                            </MatCard>
                        </div>
                        }
                    }
            </div>
    </MatTab>
    <MatTab Label="Atsijungti" @onclick='() => NavigationManager.NavigateTo("/")'>
        To be done
    </MatTab>
</MatTabGroup>

@code {
    [Parameter]
    public int Id { get; set; }

    List<Item> items = new List<Item>();

    List<Order> orders = new List<Order>();

    APIController apiController = new APIController();

    List<CartItem> cartItems = new List<CartItem>();

    protected override async Task OnInitializedAsync()
    {
        items = await apiController.GetAllItems(Id);

        orders = await apiController.GetAllOrders(Id);

        cartItems = await apiController.GetCartByUser(Id);
    }

    public void NavigateToIndividualItem(int id)
    {
        NavigationManager.NavigateTo($"/customer/{Id}/item/{id}");
    }

    public async Task<Item> GetItemById(int id)
    {
        return await apiController.GetItemById(Id, id);
    }

    public decimal CalculatePrice(decimal price, int amount)
    {
        return price * amount;
    }

    public void BuyCart()
    {
        apiController.MakeCartIntoOrder(Id);
        cartItems.Clear();
        StateHasChanged();
    }

    public async Task<List<Order>> UpdateHistory()
    {
        orders = await apiController.GetAllOrders(Id);
        return orders;
    }
}